/* gameboard.css */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Changed from flex-start to center to better center the overall game content */
  width: 100%; /* Ensuring full width to provide enough space for child components */
  max-width: 1200px; /* Optional: limits the max width of the container for better layout on larger screens */
  margin: auto; /* Centers the game container in the middle of the page horizontally */
}

.board-and-info {
position: relative; /* Needed for absolute positioning of children like game-over-controls */
display: flex;
flex-direction: row;
align-items: center;
width: 100%; /* Ensure it takes the full width of its parent for better layout control */
justify-content: center; /* Centering children horizontally */
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(var(--rotation)); /* Ensure rotation is applied correctly */
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation */
}

.modal-side {
  width: 250px; /* Define a moderate width */
  margin-left: 20px; /* Space from the game board */
  padding: 15px; /* Inner space for content */
  background-color: white; /* White background for clarity */
  border: 1px solid #cccccc; /* Subtle border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for 3D effect */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hides any overflowing content */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Smooth transition for hover effects */
}

@media (max-width: 768px) {
  .modal-side {
      width: 100%; /* Full width on smaller screens */
      margin-left: 0; /* Remove margin */
      margin-top: 20px; /* Extra top margin for spacing */
      border-top: 2px solid #007bff; /* Highlight at the top for visibility */
  }
}

.rotate-board {
  transform: rotate(180deg);
}
