body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lobby {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: white;
  background-color: #b5633d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin: 20px 0;
}

#name {
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
  border: 2px solid #b5633d;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #b5633d;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #a55233;
  transform: scale(1.05);
}

.waiting-text {
  margin-top: 20px;
  font-size: 1.2em;
  animation: fadeIn 2s;
}

.rules {
  margin-top: 30px;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.rules h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #5a5a5a;
  text-align: center;
}

.section {
  margin-bottom: 30px;
}

.section p,
.section ul {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.image-container {
  text-align: center;
  margin: 15px 0;
}

img {
  max-width: 60%;
  max-height: 300px;
  height: auto;
  margin: 10px auto;
  display: block;
}

.animation-container {
  text-align: center;
  margin: 20px auto;
  width: 60%;
  max-height: 300px;
}

.move-animation {
  width: 100%;
  height: auto;
  animation: transitionPiece 5s infinite;
  object-fit: cover;
}

.pass-animation {
  width: 100%;
  height: auto;
  animation: passTransition 5s infinite;
  object-fit: cover;
}


@keyframes passTransition {
  0% {
    opacity: 1;
    content: url('/images/pass1.png');
  }
  25% {
    opacity: 1;
    content: url('/images/pass2.png'); 
  }
  50% {
    opacity: 1;
    content: url('/images/pass3.png');
  }
  75% {
    opacity: 1;
    content: url('/images/pass4.png');
  }
  100% {
    opacity: 1;
    content: url('/images/pass1.png');
  }
}


@keyframes transitionPiece {
  0% {
    opacity: 1;
    content: url('/images/startingPiece.png');
  }
  50% {
    opacity: 1;
    content: url('/images/movedStartingPiece.png');
  }
  100% {
    opacity: 1;
    content: url('/images/startingPiece.png');
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
