.ball {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: radial-gradient(circle closest-side, #fff, #bbb, #999);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.piece {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.black-piece {
  background-color: black;
}

.white-piece {
  background-color: white;
}

.hole {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-piece .hole {
  background-color: white;
}

.white-piece .hole {
  background-color: black;
}
